* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  text-align: center;
}

#main-canvas {
  background-color: royalblue;
}

@media (max-width: 640px) {
  canvas {
    width: 100%;
  }
}
